<% layout('layouts/boilerplate')%>

<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow">
                <img src="https://images.unsplash.com/photo-1468056961052-15507578a50d" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Register</h5>
                    <form action="/register" class="validatedForm" novalidate method="POST">
                        <div class="mb-3">
                            <label class="form-label" for="username">Username:</label>
                            <input class="form-control" type="text" id="username" name = "username" aria-describedby="validationServerUserFeedback" required>
                            <div class="valid-feedback">
                                Looks good! &#128076;
                            </div>
                            <div id="validationServerUserFeedback" class="invalid-feedback">
                                Please provide a valid username.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="email">Email:</label>
                            <input class="form-control" type="email" id="email" name = "email" aria-describedby="validationServerEmailFeedback" required>
                            <div class="valid-feedback">
                                Looks good! &#128076;
                            </div>
                            <div id="validationServerEmailFeedback" class="invalid-feedback">
                                Please provide a valid email.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="password">Password:</label>
                            <input class="form-control" type="password" id="password" name = "password" aria-describedby="validationServerPassFeedback" required>
                            <div class="valid-feedback">
                                Looks good! &#128076;
                            </div>
                            <div id="validationServerPassFeedback" class="invalid-feedback">
                                Please provide a valid password.
                            </div>
                        </div>

                        <div class="d-grid"><button class="btn btn-success">Register</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>